.Loader {
  size: 64px;
  color: #00bfff;
  z-index: 10;
}

.Overlay{
  position: fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(54, 109, 249, 0.484);
  width: 100vw;
  height: 100vh;
}